.bistro{
    background-color: rgba(0, 0, 0, 0.511);
    background-image: url(../assets/home/chef-service.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.menu{
    background-color: rgba(0, 0, 0, 0.692);
    background-image: url(../assets/home/featured.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-attachment: fixed;
}